<div class="container">
	<h3>Welcome <%= @email %>, you are family now !!</h3>

	<p>You can confirm your account email through the link below:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

	<p> By confirming your account, you allow us to send you our weekly newsletter ! <p>

</div>